[user]
	name = hi0711
	email = admin@hi0711.xyz
[color]
	ui = auto
[push]
	default = current
[core]
	excludesfile = /Users/hi0711/.gitignore_global
	editor = vim
[commit]
	template = /Users/hi0711/.gitmessage.txt
[merge]
	ff = false
	conflictsstyle = diff3
[deff]
	renames = true
[branch]
	autosetuprebase = always
[alias]
	mylog = log --graph --name-status --pretty=format:\"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset\"
[pull]
	ff = only
