[user]
  name = hi0711
  email = admin@hi0711.xyz
[color]
  ui = auto
[push]
  default = current
[core]
  excludesfile = ~/.gitignore
  editor = nvim
[diff]
  tool = vimdiff
[merge]
  ff = false
  conflictsstyle = diff3
[mergetool]
  tool = vimdiff
[deff]
  renames = true
[branch]
  autosetuprebase = always
[alias]
  alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
  mylog = log --graph --name-status --pretty=format:\"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset\"
  ae = commit --allow-empty
  rb = rebase -i
  push-f = push --force-with-lease
  cb = rev-parse --abbrev-ref HEAD
  delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
  refresh= !git fetch origin && git remote prune origin
  checkout-merge= checkout --conflict=merge
[pull]
  ff = only
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[branch "master"]
  remote = origin
  merge = refs/heads/master
  rebase = true
[branch "develop"]
  remote = origin
  merge = refs/heads/develop
  rebase = true
[mergetool]
  path = nvim
[rebase]
  autosquash = true
[rerere]
  enabled = true
  autoupdate = true
